.form__purpose-wrap {
  margin-bottom: 42px;

  padding-top: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $grey-D9;

  @media (min-width: $tablet-width) {
    margin-bottom: 94px;
    margin-left: 70px;
    margin-right: 70px;

    padding: 25px 28px;
    border: 1px solid $grey-D9;
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    padding-bottom: 29px;
  }
}

.form__purpose {
  display: flex;
  flex-direction: column;
}

.form__input--radio + .purpose__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 13px;
  padding: 7px;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding: 5px;
    padding-left: 60px;
  }
}

.form__input--radio + .purpose__label:last-child {
  margin-bottom: 0;
}


.form__input--radio + .purpose__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid $grey-CD;
  border-radius: 50%;
  left: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input--radio:checked + .purpose__label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: $green-basic;
  border-radius: 50%;
  left: 9px;
  bottom: 9px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: 12px;
    bottom: 12px;
  }
}

.form__input--radio:hover + .purpose__label:hover::before,
.form__input--radio:focus + .purpose__label:focus::before {
  border: 1px solid $grey-BA;
}

.form__input--radio:disabled + .purpose__label,
.form__input--radio:disabled + .purpose__label::after,
.form__input--radio:disabled + .purpose__label::before {
  opacity: 0.6;
}

.purpose__label {
  color: $grey-dark-special-222;
}
