.form__basic-info,
.form__purpose,
.form__contacts,
.form__comments,
.form__additionally {
  border: none;
  padding: 0;
  margin: 0;
}

.form__subtitle {
  font-size: 24px;
  line-height: 26px;
  padding:0;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-dark-special-444;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
}

.form__button {
  border: none;

  @media (max-width: $mobile-max-width) {
    grid-column: 1/-1;
  }
}

.form__notice {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: $mobile-max-width) {
    grid-column: 1/-1;
  }
}
