.form__comments {
  position: relative;

  padding-left: 20px;
  padding-top: 37px;
  padding-right: 20px;
  padding-bottom: 40px;
  border-top: 2px solid $green-basic;

  display: flex;

  @media (min-width: $tablet-width) {
    padding-top: 85px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 89px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 88px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 92px;
  }
}

.comments__title {
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  padding: 7px 20px;
  background-color: $white;

  position: absolute;
  left: 0;
  top: -25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;

    width: 257px;
    height: 48px;
    padding: 6px 40px;

    left: 30px;
    top: -32px;
  }

  @media (min-width: $desktop-width) {
    left: 70px;
  }
}

.form__input--textarea {
  margin-left: 0;

  flex-grow: 1;
}
