.form__basic-info {

  padding-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $grey-D9;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 72px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__input-wrap {
  display: flex;
  align-items: baseline;

  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.form__input-wrap .form__input {
  flex-grow: 1;
  min-width: 172px;
}

.form__input-wrap:last-child {
  margin-bottom: 0;
}

.form__input-wrap .form__text {
  flex-shrink: 0;
}
