.form__contacts {
  position: relative;

  padding-left: 20px;
  padding-top: 68px;
  padding-bottom: 34px;
  padding-right: 20px;
  border-top: 2px solid $green-basic;

  @media (min-width: $tablet-width) {
    padding-top: 85px;
    padding-bottom: 86px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 88px;
    padding-bottom: 89px;
    padding-left: 110px;
    padding-right: 110px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.contacts__title {
  box-sizing: border-box;
  width: 221px;
  height: 62px;
  padding: 5px 20px;
  padding-right: 14px;
  background-color: $white;

  position: absolute;
  left: 0;
  top: -25px;

  @media (min-width: $tablet-width) {
    width: 593px;
    height: 58px;
    padding: 10px 40px;

    left: 30px;
    top: -35px;
  }

  @media (min-width: $desktop-width) {
    left: 70px;
  }
}

.form__wrap-input-and-svg {
  position: relative;
  flex: 1 1 auto;
}

.form__icon--email {
  position: absolute;
  top: 16px;
  right: 32px;
}

.contacts__input {
  margin-left: 10px;

  //position: relative;

  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }
}

.form__contacts .form__input-wrap {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}



//.form__input--email {
//  background-image: url("../../img/icon_email.svg");
//  background-repeat: no-repeat;
//  background-position: right 16px top 17px;
//}
//
//.form__input--phone {
//  background-image: url("../../img/icon_phone.svg");
//  background-repeat: no-repeat;
//  background-position: right 13px top 13px;
//}
