.form__contacts {
  position: relative;

  padding-left: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-right: 20px;
  border-top: 2px solid $green-basic;

  @media (min-width: $tablet-width) {
    padding-top: 85px;
    padding-bottom: 89px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
    padding-left: 110px;
    padding-right: 110px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.contacts__title {
  box-sizing: border-box;
  width: 221px;
  height: 62px;
  padding: 5px 20px;
  padding-right: 14px;
  background-color: $white;

  position: absolute;
  left: 0;
  top: -25px;

  @media (min-width: $tablet-width) {
    width: 593px;
    height: 58px;
    padding: 10px 40px;

    left: 30px;
    top: -35px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 76px;
  }
}

.contacts__input {
  margin-left: 5px;

  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }
}
