.program-selection__title {
  font-size: 36px;
  line-height: 36px;

  padding: 0 20px;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.program-selection__subtitle {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  padding: 0 20px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection__form {

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}
