.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 27px;

  @media (min-width: $tablet-width) {
    height: 33px;
  }
}

.social__icon--vk {
  fill: $grey-special-icon;

  width: 25px;
  height: 17px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__icon--insta {
  fill: $grey-special-icon;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon--fb {
  fill: none;
  stroke: $grey-special-icon;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 30px;
  }
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $green-basic;
}

.social__link:active .social__icon {
  fill: $green-basic;
  opacity: 0.5;
}

.social__link:hover .social__icon--fb,
.social__link:focus .social__icon--fb {
  fill: none;
  stroke: $green-basic;
}

.social__link:active .social__icon--fb {
  stroke: $green-basic;
  fill: none;
  opacity: 0.5;
}
