.range__position {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
