.slider__image {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 28px;

  min-width: 311px;
  height: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0 auto;
    top: -190px;
    left: 0;
    right: 0;
    bottom: 0;

    width: 708px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 656px;
  }
}

.slider__image--hidden {
  display: none;
}

.slider__wrap-range {
  width: 228px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 87%;
    padding-top: 363px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 360px;

    justify-content: space-between;
  }
}
