.example__slider {
  @media (min-width: $tablet-width) {
    background-color: $grey-EA;
  }
}

.slider__wrap-images {
  width: 311px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.slider__image--hidden {
  display: none;
}
