.contacts__title {
  box-sizing: border-box;
  width: 221px;
  height: 62px;
  padding: 5px 20px;
  padding-right: 14px;
  background-color: $white;

  position: absolute;
  left: 0;
  top: -25px;

  @media (min-width: $tablet-width) {
    width: 593px;
    height: 58px;
    padding: 10px 40px;

    left: 30px;
    top: -35px;
  }

  @media (min-width: $desktop-width) {
    left: 70px;
  }
}

.contacts__wrap-input-and-svg {
  display: flex;
  margin-left: 5px;
  border: 1px solid $grey-E7;

  flex: 1 1 auto;

  position: relative;

  &:focus {
    border: 2px solid $grey-dark-special-444;
  }

  &--error {
    border: 2px solid $red;
  }

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.contacts__input {
  border: none;
  margin: 0;

  flex-grow: 0;
}

.form__contacts .form__input-wrap {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__wrap-input-and-svg:focus .contacts__icon {
  fill: none;
  stroke: $green-basic;
}

.contacts__icon {
  fill: none;
  stroke: $grey-dark-special-222;
  stroke-width: 1px;

  position: absolute;
  top: 14px;
  right: 14px;
}

.form__input--error + .contacts__icon {
  stroke: $red;
}
