//Colors

$green-basic: #68b738;
$green-special: #5eaa2f;
$white: #ffffff;
$black: #000000;
$grey-dark-special-444: #444444;
$grey-dark-special-222: #222222;
$grey-special-icon: #666666;
$grey-E6: #e6e6e6;
$grey-F2: #f2f2f2;
$grey-D9: #d9d9d9;
$grey-EA: #eaeaea;
$grey-CD: #cdcdcd;
$grey-DC: #dcdcdc;
$grey-dark-special-111: #111111;
$red: #ff8282;

//Viewports

$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1399px;
$desktop-width: 1400px;
