$green-basic: #68B738;
$green-special: #5EAA2F;
$white: #FFFFFF;
$black: #000000;
$grey-dark-special-444: #444444;
$grey-dark-special-222: #222222;
$grey-special-icon: #666666;
$grey-E6: #E6E6E6;
$grey-F2: #F2F2F2;
$grey-D9: #D9D9D9;
$grey-EA: #EAEAEA;
$grey-CD: #CDCDCD;
$grey-DC: #DCDCDC;
$grey-dark-special-111: #111111;
$red: #FF8282;
