.additional-product {
  position: relative;

  padding-top: 43px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;

  border-top: 2px solid $green-basic;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
    padding-bottom: 76px;
    padding-left: 30px;
    padding-right: 30px;

    border-top: 2px solid $green-basic;
  }

  @media (min-width: $desktop-width) {
    padding-top: 90px;
    padding-bottom: 84px;
    padding-left: 110px;
    padding-right: 110px;

    display: grid;
    grid-template-columns: 73% 20%;
    gap: 7%;
  }
}

.additional-product__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  box-sizing: border-box;
  width: 267px;
  height: 43px;
  padding: 9px 20px;
  background-color: $white;

  position: absolute;
  left: 0;
  top: -45px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    width: 418px;
    height: 46px;
    padding: 5px 40px;

    left: 30px;
    top: -60px;
  }

  @media (min-width: $desktop-width) {
    left: 70px;
  }
}

.additional-product__list {
  display: flex;
  flex-direction: column;

  border-top: 1px solid $grey-CD;

  @media (min-width: $tablet-width) {
    border: 1px solid $grey-CD;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    border-top: 1px solid $grey-CD;
    border-bottom: 1px solid $grey-CD;
  }
}

.additional-product__promo {
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-top: 68px;

    background-image: url("../../img/catalog/tablet_catalog-promo-background.jpg");
    background-size: 100% 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/tablet_catalog-promo-background@2x.jpg");
    }
  }

  @media (min-width: $desktop-width), (max-width: $mobile-max-width) {
    background-image: url("../../img/catalog/catalog-promo-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 289px;
    background-position: center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/catalog-promo-background@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.additional-product__promo-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;

    padding: 70px 0;
    padding-left: 60%;
    padding-right: 17%;
  }

  @media (min-width: $desktop-width), (max-width: $mobile-max-width) {
    padding: 0 60px;
    padding-top: 186px;
    padding-bottom: 43px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;
    padding-right: 43px;
  }
}
