.additional-product {
  position: relative;

  padding-top: 43px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;

  border-top: 2px solid $green-basic;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
    padding-bottom: 76px;
    padding-left: 30px;
    padding-right: 30px;

    border-top: 2px solid $green-basic;
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 84px;
    padding-left: 110px;
    padding-right: 110px;

    display: grid;
    grid-template-columns: 73% 20%;
    gap: 7%;
  }
}

.additional-product__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  box-sizing: border-box;
  width: 267px;
  height: 43px;
  padding: 9px 20px;
  background-color: $white;

  position: absolute;
  left: 0;
  top: -45px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    width: 418px;
    height: 46px;
    padding: 5px 40px;

    left: 30px;
    top: -60px;
  }

  @media (min-width: $desktop-width) {
    left: 70px;
  }
}

.additional-product__list {
  display: flex;
  flex-direction: column;

  border-top: 1px solid $grey-CD;

  @media (min-width: $tablet-width) {
    border: 1px solid $grey-CD;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    border-top: 1px solid $grey-CD;
    border-bottom: 1px solid $grey-CD;
  }
}

.additional-product__item {
  padding-top: 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid $grey-CD;

  @media (min-width: $tablet-width) {
    padding: 23px 36px;
    padding-bottom: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0;

    flex-wrap: nowrap;
    align-items: center;
  }
}

.additional-product__item:last-child {
  @media (min-width: $tablet-width) {
    border: none;
  }
}

.additional-product__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $grey-dark-special-222;

  margin: 0;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 36%;
  }
}

.additional-product__feature {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $grey-dark-special-444;

  margin-top: 9px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    margin: 0;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.additional-product__feature span {
  margin-left: 50px;
}

.additional-product__button {
  width: 100%;
  padding: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 28px;
    width: 244px;
  }
}

.additional-product__promo {
  margin-top: 40px;

  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    margin-top: 68px;
    min-height: 200px;

    background-image: url("../../img/catalog/tablet_catalog-promo-background.jpg");
    //background-image: image-set(url("../../img/catalog/tablet_catalog-promo-background.webp") type("image/webp"),
    //                            url("../../img/catalog/tablet_catalog-promo-background.jpg") type("image/jpeg"));
    background-size: 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/tablet_catalog-promo-background@2x.jpg");
      //background-image: image-set(url("../../img/catalog/tablet_catalog-promo-background@2x.webp") type("image/webp"),
      //                            url("../../img/catalog/tablet_catalog-promo-background@2x.jpg") type("image/jpeg"));
    }
  }

  @media (min-width: $desktop-width), (max-width: $mobile-max-width) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 289px;

    background-image: url("../../img/catalog/catalog-promo-background.jpg");
    //background-image: image-set(url("../../img/catalog/catalog-promo-background.webp") type("image/webp"),
    //                            url("../../img/catalog/catalog-promo-background.jpg") type("image/jpeg"));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/catalog-promo-background@2x.jpg");
      //background-image: image-set(url("../../img/catalog/catalog-promo-background@2x.webp") type("image/webp"),
      //                            url("../../img/catalog/catalog-promo-background@2x.jpg") type("image/jpeg"));
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.additional-product__promo-svg {
  fill: $white;
  display: block;


  padding-top: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-left: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-left: 0;
  }
}

.additional-product__promo-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  margin: 0;
  width: 161px;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;

    padding: 70px 0;
    padding-right: 18%;
  }

  @media (min-width: $desktop-width), (max-width: $mobile-max-width) {
    padding: 0 60px;
    padding-top: 50px;
    padding-bottom: 43px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    padding-left: 43px;
    padding-right: 43px;
  }
}
