.catalog__title {
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
