.catalog__item {
  padding: 20px;
  padding-bottom: 25px;

  border-bottom: 1px solid $grey-EB;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.item__link-img {
  grid-row: span 2;

  display: inline-flex;
  justify-self: center;
  align-self: center;

}

.item__link-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $grey-dark-special-222;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.item__table {
  display: grid;
  grid-template-rows: auto;
}

.table__row {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.text-catalog {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $grey-dark-special-444;

  margin: 0;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.item__button {
  grid-column: span 2;
}

.item__button--all-product {
  color: $grey-dark-special-444;
  background-color: $grey-F2;
}
