.catalog__title {
  font-size: 36px;
  line-height: 36px;

  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid $grey-EB;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    padding-top: 65px;
    padding-bottom: 83px;
    padding-left: 30px;
    padding-right: 30px;

    border: none;
  }
}

.catalog__list {
  display: grid;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    padding: 0 30px;
    padding-bottom: 91px;
    //flex-direction: row;
    //flex-wrap: wrap;
    //gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
