.promo-catalog {
  background-image: url("../../img/catalog/catalog-promo-background.jpg");
  background-repeat: no-repeat;
  background-size: 280px 289px;
}

.promo-catalog__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
