.page__header-and-promo-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../../../../img/promo/promo-background-cat-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 50vw 694px;
    background-position: right top;

    padding: 0 110px;
    margin-bottom: 82px;
  }
}

.page__header-and-promo-wrapper::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 694px;
    background-color: rgba($green-basic, 0.85);
    z-index: 0;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  display: grid;

  @media (max-width: $mobile-max-width) {
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 12px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-items: center;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-header__logo::before {
  @media (max-width: $mobile-max-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $grey-E6;
    bottom: 0;
  }
}

.page-header__logo-pic {
  @media (max-width: $mobile-max-width) {
    justify-self: start;
  }
}
