.example {
    background-color: $grey-EA;
}

.example__wrapper {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;

  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

