.example {
    background-color: $grey-EA;

    @media (min-width: $tablet-width) {
      background-color: $white;
    }
}

.example__wrapper {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 33px;
  }
}


.example__title {
  font-size: 36px;
  line-height: 40px;

  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 63px;
  }
}

.example__description {
  margin-bottom: 44px;
}

