.stats__number {
  font-size: 24px;
  line-height: 24px;
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
}

.stats__description--price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
