.description__text {
  font-size: 14px;
  line-height: 18px;

  margin-bottom: 25px;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 54px;
  }
}

.description__stats {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 31px;
  justify-items: center;
}

.description__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.description__price {
  @media (min-width: $tablet-width) {
    margin-left: auto;
    position: relative;
  }
}

.description__price span {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: 50px;
  }
}

.description__stats {
  @media (min-width: $tablet-width) {
    column-gap: 42px;
  }
}


