.stats__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  box-sizing: border-box;
  width: 124px;
  height: 55px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 0;
  border: 1px solid $grey-CD;
  border-radius: 3px;

  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;

    width: 162px;
    height: 72px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
  text-transform: none;

  box-sizing: border-box;
  width: 87px;
  height: 30px;
  padding: 4px 14px 10px 14px;
  background-color: $grey-EA;

  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: -60px;
  right: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;

    height: 27px;
    padding: 7px;
    background-color: $white;

    top: 5px;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-EA;
  }
}

.stats__description--weight {
  @media (min-width: $tablet-width) {
    width: 114px;
  }
}

.stats__description--time {
  @media (min-width: $tablet-width) {
    width: 142px;
  }
}
