.stats__number {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__description {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.stats__description--price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
