.advantages__wrapper {
  padding: 0 20px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid $grey-E6;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    border: none;
  }
}

.advantages__list {
  display: grid;
  grid-auto-rows: minmax(60px, auto);
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 33px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;

  margin-top: 29px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-top: 42px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.advantages__item {
  font-size: 14px;
  line-height: 18px;

  padding-left: 80px;

  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    width: 250px;

    padding-left: 0;
    padding-top: 155px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.advantages__item--useful {
  background-image: url("../../../../img/icon_useful.svg"),
    url("../../../../img/bg_green_square.svg");
  background-size: 30px 32px, 60px 60px;
  background-position: 15px 14px, 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../../../../img/icon_useful.svg"),
      url("../../../../img/bg_green_square.svg"),
      url("../../../../img/bg_advantages_1.svg");
    background-size: 30px 32px, 80px 80px, 70px 230px;
    background-position: 25px 64px, 0 40px, 127px 40px;
  }
}

.advantages__item--powder {
  background-image: url("../../../../img/icon_powder.svg"),
    url("../../../../img/bg_green_square.svg");
  background-size: 29px 31px, 60px 60px;
  background-position: 15px 13px, 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../../../../img/icon_powder.svg"),
      url("../../../../img/bg_green_square.svg"),
      url("../../../../img/bg_advantages_2.svg");
    background-size: 29px 31px, 80px 80px, 110px 230px;
    background-position: 25px 64px, 0 40px, 122px 40px;
  }
}

.advantages__item--replacement {
  background-image: url("../../../../img/icon_replacement.svg"),
    url("../../../../img/bg_green_square.svg");
  background-size: 25px 30px, 60px 60px;
  background-position: 18px 15px, 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../../../../img/icon_replacement.svg"),
      url("../../../../img/bg_green_square.svg"),
      url("../../../../img/bg_advantages_3.svg");
    background-size: 25px 30px, 80px 80px, 110px 230px;
    background-position: 28px 65px, 0 40px, 125px 40px;
  }
}

.advantages__item--time {
  background-image: url("../../../../img/icon_time.svg"),
    url("../../../../img/bg_green_square.svg");
  background-size: 32px 33px, 60px 60px;
  background-position: 14px 13px, 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../../../../img/icon_time.svg"),
      url("../../../../img/bg_green_square.svg"),
      url("../../../../img/bg_advantages_4.svg");
    background-size: 32px 33px, 80px 80px, 120px 230px;
    background-position: 24px 63px, 0 40px, 125px 40px;
  }
}
